<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloudy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
  </head>
  <body>
    <h1 class="logo">Cloudy</h1>

    <main>
      <div class="image">
        <img
          src="../images/head.png"
          alt="person with head in
      clouds"
          height="245px"
          width="435px"
        />
      </div>
      <div class="desc">
        <h2>Head In The Clouds</h2>
        <br />
        <p>A collection of user created content for our greatest asset.</p>
      </div>
    </main>

    <footer>
      <input type="text" placeholder="Username" />
      <input type="text" placeholder="Password" />
      <button>Login</button>
      <button>Register</button>
    </footer>

    <script src="../scripts/script.js"></script>
  </body>
</html>
