<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloudy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Berkshire+Swash"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/login.css" />
  </head>
  <body>
    <header class="logo">
      <h1>Head In The Clouds</h1>
    </header>

    <main>
      <div class="log-main">
        <img
          class="log-image"
          src="../resources/head.png"
          alt="person with head in
      clouds"
        />
        <!-- <h2 class="desc">Head In The Clouds</h2> -->
        <br />
        <p class="info">
          A collection of user created content for our greatest asset.
        </p>
        <p class="info-2">Please login below or register a new account.</p>
      </div>
    </main>
    <section class="log-input">
      <form>
        <label for="username"></label>
        <input type="text" id="username" placeholder="Username" required />

        <label for="password"></label>
        <input type="password" id="password" placeholder="Password" required />

        <div log-buttons>
          <button onclick="check()">Login</button>
          <button><a href="../views/signup.html">Register</a></button>
        </div>
      </form>
    </section>
    <footer class="log-footer"></footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>
